<!DOCTYPE html>
<html>
<head>
    <title>gros con va</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
    function addLetterToInput(letter) {
        document.getElementById('userWordInput').value += letter;
    }

    function handleLetterClick(element, letter) {
        const isClicked = element.getAttribute('data-clicked') === 'true';

        if (!isClicked) {
            element.setAttribute('data-clicked', 'true');
            element.style.opacity = '0.5'; // Change opacity to visually indicate the clicked state

            // Additional actions when the letter is clicked
            addLetterToInput(letter);
        }

        if (isClicked) {
            const userInput = document.getElementById('userWordInput');
            const userWord = userInput.value;

            element.setAttribute('data-clicked', 'false');
            element.style.opacity = '1';

            // Check if the clicked letter is present in the userWordInput
            if (userWord.includes(letter)) {
                // Remove the letter from the userWordInput value
                const modifiedWord = userWord.replace(letter, '');
                userInput.value = modifiedWord;
            }
        }
    }

    window.onload = function() {
        // Set focus to the user_word input field on page load
        document.getElementById('userWordInput').focus();
    }

    </script>
</head>
<body>
<script src="script\script.js"></script>

    <label class="toggle">
        <a href="mailto:contact@motlepluslong.fr" class="email-button">
            <i class="fas fa-envelope"></i>
        </a>
        <input class="toggle-checkbox" type="checkbox">
        <div class="toggle-switch"></div>
    </label>

    <div class="container">
        <!--<h1>Question pour un pégut</h1>-->


        <!-- Affichage des lettres aléatoires -->
        <div class="letters-container">
            {% if letters %}
                {% for letter in letters %}
                    <div class="letter-box" data-clicked="false" onclick="handleLetterClick(this, '{{ letter }}')">{{ letter }}</div>
                {% endfor %}
            {% endif %}
        </div>


        <!-- Bouton pour générer des lettres aléatoires -->
        <form method="POST">
            <button type="submit" name="generate_lettres" class="button-6" role="button" onclick="resetLetterBoxes()">Nouveau Tirage</button>
            <button type="submit" role="button" class="button-6" name="solution" onclick="resetLetterBoxes()">Solution</button>
        </form>

        <p class="iwanttodie">Entrez le mot le plus long possible en combinant les lettres ci-dessus:</p>
        <!-- Formulaire pour saisir des mots -->
        <form method="POST">
            <input type="text" name="user_word" class="user_input" id="userWordInput" placeholder="Entrez un mot" autocomplete="off">
            <button type="submit" role="button" class="button-6" onclick="resetLetterBoxes()">Ajouter</button>
        </form>


        <!-- Affichage du message d'erreur -->
            {% if error %}
                    <div class="error">{{ error }}</div>
            {% endif %}

        <div class="bottom_container">
            <div class="left-section">
                <!-- Affichage des mots saisis -->
                {% if user_words %}
                    <ul class="user-words">
                        {% for word in user_words %}
                            <li>{{ word|length }}  -  {{ word }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="right-section">
                {% if solution %}
                    <ul class="solution">
                        {% for length, words in solution %}
                            <ul class="word-length">{{ length }}</ul>
                            <div class="hover-word">
                                {% for word in words %}
                                    {{ word }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="popup" id="popup">Thanks lol</div>
        </div>
    </div>
</body>
</html>